@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Quicksand:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-family: 'Beau Rivage', cursive;
    letter-spacing: .2em;
}

.skills-section{
    background-color: #666;
    display: flex;
    color: #fff;
    flex-direction: column;
    width: 100vw;

}

.sill-bar{
    margin:1rem 0 1rem 1.5rem;
    line-height: 1.6;
}

.progress-bar div{
    /* background-color: red; */
    color: #fff;
    height: .5rem;
    border-radius: 80rem;
    display: flex;
    justify-content: right;
    align-items: center;
    /* animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
}

.progress-bar div span{
   /* border: 1px solid black; */
   border-radius: 50%;
   font-size: .7rem;
   text-align: center;
   /* background-color: green; */
   color: #ffffff;
}

.html{
    width: 0;
    background-color: #be2d17;
    animation-name: html;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.html span{
    background-color: #be2d17;
    border: 1px solid #be2d17;
}

.css{
    width: 0;
    background-color: #a8be17;
    animation-name: css;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.css span{
    background-color: #a8be17;
    border: 1px solid #a8be17;
}

.javascript{
    width: 0;
    background-color: #7511bc;
    animation-name: javascript;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.javascript span{
    background-color: #7511bc;
    border: 1px solid #7511bc;
}

.bootstrap-5{
    width: 0;
    background-color: #c2818b;
    animation-name: bootstrap;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.bootstrap-5 span{
    background-color: #c2818b;
    border: 1px solid #c2818b;
}

.python{
    width: 0;
    background-color: #d5d510;
    animation-name: python;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.python span{
    background-color: #d5d510;
    border: 1px solid #d5d510;
}

@keyframes html{
   100% {
       width: 90%;
   }
}
@keyframes css{
    100% {
        width: 80%;
    }
}
@keyframes javascript{
    100% {
        width: 25%;
    }
}
@keyframes bootstrap{
    100% {
        width: 10%;
    }
}
@keyframes python{
    100% {
        width: 50%;
    }
}